@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
    font-size: 16px;
}

#container {
    width: 90%;
    max-width: 62.5em;
    height: 31.25em;
    
    margin: 60px auto;
    
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:    "calculator     details"
                            "calculator     details";
}

input {
	width: 70%;
    padding: 0.75em 0.9375em;
    border: none;
    background-color: #eee;
}

button {
	font-weight: bold;
	padding: 0.75em 2.8125em;
    margin: 0.9375em;
	border-radius: 30px;
	background-color: #9043bd;
	border: 1px solid #9043bd;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}

#container #calculator,
#container #details {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    background: #FFFFFF;
    padding: 1.25em;
    border-radius: 20px 0px 0px 20px;
    grid-area: calculator;
}

#details{
    background: #9043bd;
    color: #f6f5f7;
    padding: 1.25em;
    border-radius: 0px 20px 20px 0px;
    grid-area: details;
}

.results{
    color: #0A81D1;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

ul {
    text-align: left;
}

#error{
    color: rgb(255, 0, 55);
    font-weight: bold;
    display: none;
}

@media screen and (max-width: 992px){
    body{
        font-size: 13px;
    }
    #container {
        margin: 100px auto;
    }
}

@media screen and (max-width: 768px){
    body{
        font-size: 12px;
    }
    #container {
        margin: 60px auto;
        height: auto;
        grid-template-areas:    "calculator     calculator"
                                "details        details";
    }
    #calculator {
        border-radius: 20px 20px 0px 0px;
    }
    #details{
        border-radius: 0px 0px 20px 20px;
    }
}
